
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title"> {{post_title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{user.username}}</h6>
      <p class="card-text">
        {{post_contents}}
      </p>
      <a href="#" class="card-link">Read more</a>
    </div>
  </div>