<form class="comment-box">
            <div class="bg-light p-2">
              <div class="d-flex flex-row align-items-start">
                <textarea class="form-control ml-1 shadow-none textarea" id="comment-box"></textarea>
              </div>
              <div class="mt-2 text-right">
                <button id="commentID" data-id="{{id}}" type="submit" class="btn btn-primary btn-sm shadow-none">
                  Post comment
                </button>
              </div>
              {{!-- {{/if}} --}}
            </div>
          </form>