<div class="container mt-5">
    <div class="d-flex justify-content-center row">
      <div class="col-md-8">
        <div class="d-flex flex-column comment-section">
<div class="login-heading"> 
<h2> You'll need to login or create an account to Get The Goss, post and leave comments</h2>
<hr>
</div>

<div class="container">
  <h1>Login</h1>
         <a href="/signup"><button type="submit" class="btn">Create new account</button></a>
           <div class="row">
    <div class="col-sm-12 md-6">
      <form class = "form login-form">
        <div class="mb-3">
          <label for="userName" class="form-label">Email</label>
          <input
            type="username"
            class="form-control"
            id="usernameLogin"
            aria-describedby="usernameHelp"
          />
        </div>
        <div class="mb-3">
          <label for="InputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="usernamePassword" />
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
  </div>
</div>
        </div>
      </div>
    
    



<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>
<script src="./js/login.js"></script>